/*
style definitions for visualization - in this case empty
*/

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml #mnuInsertWgMstrVisD3MultiChart {
    background:url(images/RWD.png) no-repeat scroll 4px!important;
    padding: 3px 0px 3px 14px;
}

.custom-vis-layout.MstrVisD3MultiChart {
	position: relative;
    overflow: auto;
}

.custom-vis-layout.MstrVisD3MultiChart .bar {
    fill: steelblue;
}
.custom-vis-layout.MstrVisD3MultiChart .bar:hover {
    fill: brown;
}
.custom-vis-layout.MstrVisD3MultiChart .axis {
    font: 10px sans-serif;
}
.custom-vis-layout.MstrVisD3MultiChart .axis path, .axis line {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}
.custom-vis-layout.MstrVisD3MultiChart .x.axis path {
    display: none;
}

.custom-vis-layout.MstrVisD3MultiChart .bullet { font: 10px sans-serif; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .marker { stroke: #88AE57; stroke-width: 3px; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .tick line { stroke: #666; stroke-width: .5px; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .range.s0 { fill: #D0D1D1; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .range.s1 { fill: #C1C2C2; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .range.s2 { fill: #B1B3B3; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .measure.true { fill: #90BC53; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .measure.false { fill: #D13F44; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .title { font-size: 14px; font-weight: bold; }
.custom-vis-layout.MstrVisD3MultiChart .bullet .subtitle { fill: #999; }


.custom-vis-layout.MstrVisD3MultiChart table { 
	font-family: 'Helvetica', Helvetica; 
	font-weight: 300; 
	padding: 1px;


	table-layout: auto;
    width: 100%;

    vertical-align: top;
    writing-mode: lr-tb;
}

.custom-vis-layout.MstrVisD3MultiChart table tbody { 
	display: table-row-group;
    vertical-align: middle;
}

.custom-vis-layout.MstrVisD3MultiChart table tbody tr:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.custom-vis-layout.MstrVisD3MultiChart th { 
	text-align: left; 
	font-size: 7pt;
    font-weight: bold;
    color: #888D8D;
    text-transform: uppercase;
    white-space: nowrap;
}

.custom-vis-layout.MstrVisD3MultiChart th, td { padding: 0 1em 0.5ex 0;}

.custom-vis-layout.MstrVisD3MultiChart td.widget { padding: 0; min-width: 400px;}

.custom-vis-layout.MstrVisD3MultiChart th.center, td.center { text-align: center; }
.custom-vis-layout.MstrVisD3MultiChart th.num, td.num { text-align: center; }

